$primary-blue: #0b3b60;
$secondary-blue: #85c4ff;
$red-warning: #893131;
$primary-black: #161717;
$primary-white: #fff;
$font-gray: #6b6e71;
$secondary-gray: #90989f;

$fw-1: 400;
$fw-2: 700;

$fs-1: 0.875rem;
$fs-2: 1rem;
$fs-3: 1.125rem;
$fs-4: 1.25rem;
