$primary-blue: #0B3B60;
$secondary-blue: #85C4FF;
$red-warning: #893131;
$primary-black: #161717;
$primary-white: #fff;
$font-gray: #6B6E71;
$secondary-gray: #90989F;

$fw-1: 400;
$fw-2: 700;

$fs-1: 0.875rem;
$fs-2: 1rem;
$fs-3: 1.125rem;
$fs-4: 1.25rem;

