@import 'assets/scss/_base.scss';

header {
  background-color: $primary-blue;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  color: $primary-white;
  color: var(--pb-white, #FFF);
  font-size: $fs-3;
  font-weight: $fw-1;
  line-height: 21.9px;


  & .title-group {
    display: flex;
    align-items: end;
    gap: 16px;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 1px solid $primary-blue;
  padding: 12px 18px;
  background-color: $primary-white;
  text-align: center;
  color: $primary-blue;
  border-radius: 8px 8px 0 0;
  font-size: $fs-2;
  font-weight: $fw-1;
  line-height: 19.4px;
  outline: none;
  position: absolute;
  top: 10px;
  right: 12%;
}
