<app-header [headerTitle]="'Pacientes'"></app-header>
<section>
  <app-container>
    <input
      type="text"
      placeholder="Pesquisar"
      aria-label="Pesquisar"
      #inputSearch
      (keyup)="updateFilter(inputSearch.value)" />
    <div class="list" *ngIf="patientList$ | async as patientList">
      <div *ngFor="let item of patientList | filterByName: filter">
        <div class="cards" *ngIf="item.profiles.length">
          <div class="cards__header">
            <span>{{ item.letter }}</span>
            <img src="assets/images/logo-card.svg" alt="logo da vollmed" />
          </div>
          <div *ngFor="let patient of item.profiles">
            <app-card-profile [profile]="patient"></app-card-profile>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <app-button
        text="Cadastrar novo perfil"
        [disabled]="false"
        routerLink="register"></app-button>
    </div>
  </app-container>
</section>
