<app-container>
  <form #form="ngForm" [formGroup]="signUpForm" (submit)="dataSubmit()">
    <fieldset>
      <legend>Profissional</legend>
      <input
        formControlName="name"
        type="text"
        placeholder="Nome Completo"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
        [ngClass]="{ active: isInputFocused }" />
      <app-error-message
        *ngIf="
          signUpForm.get('name')?.errors?.['required'] &&
          (form.submitted || signUpForm.get('name')?.touched)
        "
        text="Campo obrigatório"></app-error-message>

      <div class="container-input">
        <div>
          <select formControlName="specialty">
            <option value="">Especialidade</option>
            <option *ngFor="let item of specialties" value="{{ item }}">
              {{ item }}
            </option>
          </select>
          <app-error-message
            *ngIf="
              signUpForm.get('specialty')?.errors?.['required'] &&
              (form.submitted || signUpForm.get('specialty')?.touched)
            "
            text="Campo obrigatório"></app-error-message>
        </div>

        <div>
          <input formControlName="crm" placeholder="CRM" />
          <app-error-message
            *ngIf="
              signUpForm.get('crm')?.errors?.['required'] &&
              (form.submitted || signUpForm.get('crm')?.touched)
            "
            text="Campo obrigatório"></app-error-message>
          <app-error-message
            *ngIf="
              signUpForm.get('crm')?.errors?.['pattern'] &&
              (form.submitted || signUpForm.get('crm')?.touched)
            "
            text="O crm deve ter entre 4 a 6 dígitos"></app-error-message>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Contatos</legend>
      <input formControlName="email" type="email" placeholder="E-mail" />
      <app-error-message
        *ngIf="
          signUpForm.get('email')?.errors?.['required'] &&
          (form.submitted || signUpForm.get('email')?.touched)
        "
        text="Campo obrigatório"></app-error-message>
      <app-error-message
        *ngIf="
          signUpForm.get('email')?.errors?.['email'] &&
          (form.submitted || signUpForm.get('email')?.touched)
        "
        text="Formato de email inválido"></app-error-message>

      <input
        formControlName="phone"
        type="tel"
        placeholder="Telefone ou Celular" />
      <app-error-message
        *ngIf="
          signUpForm.get('phone')?.errors?.['required'] &&
          (form.submitted || signUpForm.get('phone')?.touched)
        "
        text="Campo obrigatório"></app-error-message>
    </fieldset>

    <fieldset>
      <legend>Endereço</legend>
      <input formControlName="street" type="text" placeholder="Logradouro" />
      <app-error-message
        *ngIf="
          signUpForm.get('street')?.errors?.['required'] &&
          (form.submitted || signUpForm.get('street')?.touched)
        "
        text="Campo obrigatório"></app-error-message>

      <div class="container-input">
        <input formControlName="number" type="number" placeholder="Número" />
        <input
          formControlName="complement"
          type="text"
          placeholder="Complemento" />
      </div>

      <input formControlName="city" type="text" placeholder="Cidade" />
      <app-error-message
        *ngIf="
          signUpForm.get('city')?.errors?.['required'] &&
          (form.submitted || signUpForm.get('city')?.touched)
        "
        text="Campo obrigatório"></app-error-message>

      <div class="container-input">
        <div>
          <select formControlName="state">
            <option value="">UF</option>
            <option *ngFor="let item of states" value="{{ item }}">
              {{ item }}
            </option>
          </select>
          <app-error-message
            *ngIf="
              signUpForm.get('state')?.errors?.['required'] &&
              (form.submitted || signUpForm.get('state')?.touched)
            "
            text="Campo obrigatório"></app-error-message>
        </div>

        <div>
          <input formControlName="postalCode" placeholder="CEP" />
          <app-error-message
            *ngIf="
              signUpForm.get('postalCode')?.errors?.['required'] &&
              (form.submitted || signUpForm.get('postalCode')?.touched)
            "
            text="Campo obrigatório"></app-error-message>
          <app-error-message
            *ngIf="
              signUpForm.get('postalCode')?.errors?.['pattern'] &&
              (form.submitted || signUpForm.get('postalCode')?.touched)
            "
            text="Formato de CEP inválido"></app-error-message>
        </div>
      </div>
    </fieldset>

    <div class="container-button">
      <app-button
        [style]="btnState()"
        [disabled]="!signUpForm.valid"
        text="{{ btnText }}"></app-button>
      <app-button
        [style]="'secondary'"
        [disabled]="false"
        routerLink="/doctors"
        text="Cancelar"></app-button>
    </div>
  </form>
</app-container>
