@import 'assets/scss/_base.scss';

form {
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    legend {
      margin-bottom: 10px;
      color: $primary-blue;
      font-size: $fs-3;
      font-style: normal;
      font-weight: $fw-2;
      line-height: 21.9px;
    }

    input,
    select {
      border-radius: 5px;
      border: 1px solid $secondary-gray;
      padding: 14px 16px;
      background-color: $primary-white;
      font-size: $fs-2;
      font-style: normal;
      font-weight: $fw-1;
      line-height: 19.4px;
      width: 100%;

      &.ng-invalid.ng-touched {
        border: 2px solid $red-warning;
      }

      &::placeholder {
        color: $primary-black;
        font-size: $fs-2;
        font-style: normal;
        font-weight: $fw-1;
        line-height: 19.4px;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: $bg-input-disable;
        color: $font-gray;
      }

      & option {
        color: $primary-black;
        font-size: $fs-2;
        font-style: normal;
        font-weight: $fw-1;
        line-height: 19.4px;
      }
    }

    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background: url('../../../assets/images/Dropdown.svg');
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 50%;
    }

    & .container-input {
      display: flex;
      justify-content: center;
      gap: 4%;

      &>* {
        width: 50%;
      }

      &>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  & .container-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
