<app-container>
  <form [formGroup]="signUpForm" (submit)="dataSignUp()">
    <fieldset>
      <legend>Profissional</legend>
      <input formControlName="nome" type="text" placeholder="Nome Completo" />
      <div class="container-input">
        <select formControlName="especialidade">
          <option value="">Especialidade</option>
          <option *ngFor="let item of specialties" value="{{ item }}">
            {{ item | uppercase }}
          </option>
        </select>
        <input formControlName="crm" type="number" placeholder="CRM" />
      </div>
    </fieldset>

    <fieldset>
      <legend>Contatos</legend>
      <input formControlName="email" type="email" placeholder="E-mail" />
      <input
        formControlName="phone"
        type="tel"
        placeholder="Telefone ou Celular" />
    </fieldset>

    <fieldset>
      <legend>Endereço</legend>
      <input formControlName="rua" type="text" placeholder="Logradouro" />
      <div class="container-input">
        <input formControlName="numero" type="number" placeholder="Número" />
        <input
          formControlName="complemento"
          type="text"
          placeholder="Complemento" />
      </div>

      <input formControlName="cidade" type="text" placeholder="Cidade" />

      <div class="container-input">
        <select formControlName="estado">
          <option value="">UF</option>
          <option *ngFor="let item of states" value="{{ item }}">
            {{ item }}
          </option>
        </select>
        <input formControlName="cep" type="number" placeholder="CEP" />
      </div>
    </fieldset>

    <div class="container-button">
      <app-button text="{{ btnText }}"></app-button>
      <app-button text="Cancelar" [style]="'secondary'"></app-button>
    </div>
  </form>
</app-container>
