<app-header [headerTitle]="'Médicos'"></app-header>
<section>
  <app-container>
    <input type="text" placeholder="Pesquisar" aria-label="Pesquisar" />
    <div class="list">
      <div *ngFor="let item of medicosList$ | async">
        <div class="cards">
          <div class="cards__header">
            <span>{{ item.letra }}</span>
            <img src="assets/images/logo-card.svg" alt="logo da vollmed" />
          </div>
          <div *ngFor="let medico of item.medicos">
            <app-card-medico [medico]="medico"></app-card-medico>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <app-button
        text="Cadastrar novo perfil"
        [disabled]="false"
        routerLink="/cadastrar"></app-button>
    </div>
  </app-container>
</section>
