<app-header [headerTitle]="'Médicos'"></app-header>
<section>
  <app-container>
    <input type="text" placeholder="Pesquisar" aria-label="Pesquisar" />
    <div class="list">
      <div class="cards">
        <div class="cards__header">
          <span>A</span>
          <img src="assets/images/logo-card.svg" alt="logo da vollmed" />
        </div>
        <div class="card">
          <details>
            <summary>
              <div>
                <h3>Brenda de Almeida</h3>
                <p>Ortopedista | CRM 47889-PR</p>
              </div>
            </summary>
            <div>
              <p>brenda.almeida.com.br</p>
              <p>(51)99999-8888</p>
              <p>Av.das Graças Altas, 633-Curitiba/PR</p>
              <p>CEP:66.777.100</p>
              <div class="button">
                <button>Editar</button>
                <button>Desativar perfil</button>
              </div>
            </div>
          </details>
        </div>
        <div class="card">
          <details>
            <summary>
              <div>
                <h3>Brenda de Almeida</h3>
                <p>Ortopedista | CRM 47889-PR</p>
              </div>
            </summary>
            <div>
              <p>brenda.almeida.com</p>
              <p>(51)99999-8888</p>
              <p>Av.das Graças Altas, 633-Curitiba/PR</p>
              <p>CEP:66.777.100</p>
              <div class="button">
                <button>Editar</button>
                <button>Desativar perfil</button>
              </div>
            </div>
          </details>
        </div>
      </div>
      <div class="cards">
        <div class="cards__header">
          <span>A</span>
          <img src="assets/images/logo-card.svg" alt="logo da vollmed" />
        </div>
        <div class="card">
          <details>
            <summary>
              <div>
                <h3>Brenda de Almeida</h3>
                <p>Ortopedista | CRM 47889-PR</p>
              </div>
            </summary>
            <div>
              <p>brenda.almeida.com</p>
              <p>(51)99999-8888</p>
              <p>Av.das Graças Altas, 633-Curitiba/PR</p>
              <p>CEP:66.777.100</p>
              <div class="button">
                <button>Editar</button>
                <button>Desativar perfil</button>
              </div>
            </div>
          </details>
        </div>
        <div class="card">
          <details>
            <summary>
              <div>
                <h3>Brenda de Almeida</h3>
                <p>Ortopedista | CRM 47889-PR</p>
              </div>
            </summary>
            <div>
              <p>brenda.almeida.com</p>
              <p>(51)99999-8888</p>
              <p>Av.das Graças Altas, 633-Curitiba/PR</p>
              <p>CEP:66.777.100</p>
              <div class="button">
                <button>Editar</button>
                <button>Desativar perfil</button>
              </div>
            </div>
          </details>
        </div>
      </div>
      <div class="cards">
        <div class="cards__header">
          <span>A</span>
          <img src="assets/images/logo-card.svg" alt="logo da vollmed" />
        </div>
        <div class="card">
          <details>
            <summary>
              <div>
                <h3>Brenda de Almeida</h3>
                <p>Ortopedista | CRM 47889-PR</p>
              </div>
            </summary>
            <div>
              <p>brenda.almeida.com</p>
              <p>(51)99999-8888</p>
              <p>Av.das Graças Altas, 633-Curitiba/PR</p>
              <p>CEP:66.777.100</p>
              <div class="button">
                <button>Editar</button>
                <button>Desativar perfil</button>
              </div>
            </div>
          </details>
        </div>
        <div class="card">
          <details>
            <summary>
              <div>
                <h3>Brenda de Almeida</h3>
                <p>Ortopedista | CRM 47889-PR</p>
              </div>
            </summary>
            <div>
              <p>brenda.almeida.com</p>
              <p>(51)99999-8888</p>
              <p>Av.das Graças Altas, 633-Curitiba/PR</p>
              <p>CEP:66.777.100</p>
              <div class="button">
                <button>Editar</button>
                <button>Desativar perfil</button>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
    <div class="footer">
      <app-button text="Cadastrar novo perfil"></app-button>
    </div>
  </app-container>
</section>
