<app-container>
  <section>
    <div class="container-logo">
      <img src="assets/images/Logo.svg" alt="Logo da VollMed" />
      <h1>Gerenciando sua clínica</h1>
    </div>

    <ul>
      <p>Escolha qual seção deseja iniciar:</p>
      <li routerLink="/listar">
        <img src="assets/images/doctor.svg" alt="ícone de médico" />
        <p>Médico(as)</p>
      </li>
      <li>
        <img src="assets/images/patient.svg" alt="Icone de paciente" />
        <p>Pacientes</p>
      </li>
      <li>
        <img src="assets/images/calendar.svg" alt="Icone de calendário" />
        <p>Consultas</p>
      </li>
    </ul>
  </section>
</app-container>
