<dialog aria-modal="true" role="dialog" #modalDeactivation>
  <div class="dialog__header">
    <img src="assets/images/person.svg" alt="" />
    <h3>Deseja desativar este perfil?</h3>
    <div class="dialog__header-info">
      <div class="bar"></div>
      <div>
        <span>{{ profile.name }}</span>
        <p *ngIf="profile.crm">
          {{ profile.specialty }} | CRM {{ profile.crm }}-{{
            profile.address.state
          }}
        </p>
        <p *ngIf="profile.cpf">{{ profile.cpf | cpf }}</p>
      </div>
    </div>
  </div>
  <div class="dialog__text">
    <p>
      Ao desativar este perfil, suas informações ficarão desabilitadas para
      pesquisas e futuros agendamentos.
    </p>
    <p>
      Certifique-se que não há consultas agendadas, caso tenha, a desativação
      não poderá ser concluída.
    </p>
  </div>
  <div class="dialog__buttons">
    <app-button
      text="Desativar este perfil"
      [disabled]="false"
      (click)="deactivate()"></app-button>
    <app-button
      text="Cancelar"
      [disabled]="false"
      [style]="'secondary'"
      (click)="closeModal()"></app-button>
  </div>
</dialog>
<app-modal-info [title]="modalTitle" [text]="modalText" #modalInfo />
